h1 {
    color: #014687;
}

.background {
    background-color: #f8f8f8;
}

.navbar {
    background-color: #0c2069;
    color: white;
    font-weight: bolder;
    margin: 0;
    padding: 0 0;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.btn-primary {
    background: #0c2069 !important;
    border-color: #0c2069;
}

.btn-link {
    font-size: larger !important;
    color: white !important;
}

.footer-background {
    background: #0c2069;
    color: white;
}